{
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "useTabs": false,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "semi": false,
    "max-line-length": [
        true,
        {
            "limit": 140,
            "ignore-pattern": "^import |^export {(.*?)}"
        }
    ],
    "printWidth": 600
}
