.page-header {
    background-color: darkred;
    color: white;
    border: 5px solid transparent;
    text-align: center;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}

.info-text {
    margin-right: 10px;
}

.login-switch-text {
    font-size: 15px;
    color: aqua;
    margin: 5px;
}

.person-picture {
    width: 60px;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
}

.error-msg {
    color: red;
}