table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.input-button {
    background-color: darkred;
    color: white;
}

.input-table {
    margin-right: 25%;
}

.input-outside {
    padding: 10px;
    margin-bottom: 10px;
}

.selected-button {
    background-color: red;
    color: white;
}

.mt-10 {
    margin-top: 10px;
}

.pr-6 {
    padding-right: 6px;
}

.pl-6 {
    padding-left: 6px;
}

.float-right {
    float: right;
}
